@import "src/scss/shared/font-inherit";
.gallery {
  @extend %font-inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222226;
  &__title {
    font-size: 3rem;
    text-align: center;
    color: #b9cd32;
    @media screen and (min-width: 320px) and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
  padding-bottom: 1rem;
}

.carousel {
  position: relative;
}

.slide {
  display: none;
  &__text {
    font-size: 1.125rem;
    text-align: center;
    color: #fff;
    opacity: 0.7;
  }
  &__img {
    max-width: 100%;
    max-height: 40rem;
  }
}

.carouselControls {
  display: flex;
  justify-content: center;
  &__dot {
    cursor: pointer;
    margin: 0 0.3rem;
    width: 0.625rem;
    height: 0.625rem;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    @media screen and (min-width: 320px) and (max-width: 768px) {
      width: 1rem;
      height: 1rem;
      margin: 0 0.5rem;
    }
  }
}

.active {
  background-color: #b9cd32;
}
